.hero{
    display: flex;
  }
  .imgage img{
    width: 400px;
    margin-right: 10px;
  }
  button{
    background-color: red;
    border: none;
    padding: 4px 10px;
    color: white;
  }
  .down{
    justify-content: center;
    align-items: center;
  }